@charset "utf-8";

/*
font-family: 'Slackey', cursive;
font-family: 'Roboto', sans-serif;

*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #26252A;
    color: white;
    letter-spacing: 2px!important;
}

.black {
    background-color: #26252A;
}

.letter-spacing {
    letter-spacing: 1px!important;
}

/******** ACCUEIL ********/

.logo {
    padding-top: 1.875em;
}

.logo img {
    width: 180px;
    height: 50px;
}

section {
    padding-bottom: 1.875em;
}

h1 {
    font-family: 'Slackey', cursive;
    font-size: 2.1em;
    padding-top: 1.875em;
    padding-bottom: 1.875em;
}

#slider h3, #slider p {
    font-size: 0.9em;
}

.btn-connexion, .btn-visiter {
    width: 200px;
    height: 50px;
    line-height: 38px;
} 

.btn-connexion {
    background-color: #FFCC50;
}

.btn-visiter {
    background-color: #C33608;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .logo {
        padding: 1.875em 0 1.875em 0;
    }
    .logo img {
        width: 320px;
        height: 90px;
    }
    h1 {
        font-size: 5.1875em;
    }
    #slider h3, #slider p {
        font-size: 1.25em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 7.5em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
    #slider {
        padding-right: 5em;
        padding-left: 5em;
    }
    #slider h3, #slider p {
        font-size: 1.45em;
    }
}


/******** LISTE SUJET ********/

#id-navbar{
    background-color: #ffcc50;
    width: 100%!important;
  }

  #id-nav-footer{
    background-color: #ffcc50;
    width: 100%!important;
  }

  /* ************************************************************ */


.navbar-toggler {
    border-color:  rgba(202, 30, 30, 0.863)!important;
 
}

.navbar-toggler-icon {
   background-color:  rgba(202, 30, 30, 0.863)!important;
 
}

/* *********************************************************** */
/* text navbar HEADER  */
.text-nav-head{
    color: #C33608!important;
    font-weight:bold;
    font-size: 130%;
}

/* .header-liste {
    background-color: #FFCC50;
}

nav {
    height: 50px;
}
nav img {
    width: 110px;
   
}

.header-liste #navbarNav {
    background-color: #FFCC50;
} */

.sujet {
    border-radius: 25px;
}

.sujet img {
    border-radius: 20px;
}

.sujet p {
    font-size: 1.125em;
    font-weight: 500;
}

.info, .moukatage, .autre {
    border-radius: 15px;
}

.nombre {
    border-radius: 10px;
    font-size: 1.25em;
    width: 70px;
    height: 40px;
}
.restant p {
    font-size: 0.5em;
}

#form-publier {
    border-radius: 25px;
}
#form-publier textarea {
    border-radius: 10px;
    background-color: #e4eef8;
}

.trier button {
    font-size: 0.7em;
}

.nb-vote {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.1em;
}

.avatar img {
    width: 60px;
    height: 60px;
}

.info-profil p:first-child {
    font-size: 1.25em;
}

.info-profil p:last-child {
    font-size: 0.875em;
}

.autre img {
    width: 113px;
    height: 110px;
    border-radius: 15px;
}

.autre p {
    font-size: 0.8em;
}

/* *********************************************************** */
/* text navbar FOOTER  */
.text-nav-foot{
    color:#ffffff!important;
    font-weight:bold;
}

/* *********************************************************** */
/*box FOOTER  */

.box-footer{
    height: 9vh;
    background-color: rgb(228, 79, 21)!important;
    
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
    #form-publier textarea::placeholder {
        text-align: center;
        line-height: 70px;
    }
}